<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Bootstrap CSS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Autour+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <style>
    body {
      background-image: url("https://www.w3schools.com/w3css/img_nature.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      font-family: 'Autour One', cursive;
    }
  </style>
  <title>update</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg"
    style="margin-top:10px;background-color:black;box-shadow:2px 6px;height:50px;opacity:0.6;border-radius:20px">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold ms-3" style="color:orange" href="#">
        <h3> Nilanjan</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-3">
          <li class="nav-item px-3">
            <a class="nav-link active fs-6 fw-bold" aria-current="page" href="home"><strong>Home</strong></a>
          </li>
          <li class="nav-item px-3" style="opacity:0.7">
            <a class="nav-link fs-6 fw-bold" href="http://127.0.0.1:8000/insert">Insert</a>
          </li>
          <li class="nav-item dropdown px-3" style="opacity:0.7">
            <a class="nav-link dropdown-toggle fs-6 fw-bold" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item disabled" href="#">Update</a></li>
              <li><a class="dropdown-item disabled" href="#">Delete</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">comming soon</a></li>
            </ul>
          </li>
          <li class="nav-item px-3" style="opacity:0.7">
            <a class="nav-link  fs-6 fw-bold" tabindex="-1" aria-disabled="true"  href="logout">LogOut</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>

  <div class="container" style="width:800px;">
    <br></br>
    <form method="POST" action="">
    {% csrf_token %}
      <div class="mb-3">
        <div class="form-group fw-bolder">
          <label for="" style="color:black; margin:10px;">N A M E</label>
          <input type="text" value="{{x.name}}" required class="form-control" name="name" placeholder="enter your name">
        </div>
        <div class="form-group fw-bolder">
          <label for="" style="color:black; margin:10px;">C I T Y</label>
          <input type="text" value="{{x.city}}" required class="form-control" name="city" placeholder="enter your city">
        </div>
        <div class="form-group fw-bolder">
          <label for="" style="color:black; margin:10px;">E M A I L</label>
          <input type="email" required value="{{x.email}}" class="form-control" name="email" placeholder="enter your email id ">
        </div>
        <div id="emailHelp" class="form-text" style=" font-weight: 700; color:rgb(27, 46, 20);">We'll never share your
          email with anyone else.</div>
      </div>
      <div class="form-group fw-bolder">
        <label for="" style="color:black; margin:10px;">P H O N E</label>
        <input type="text" value="{{x.phone}}"  required maxlength="10" pattern="[6789]{1}[0-9]{9}"  class="form-control" name="phone" placeholder="enter your phone number">
      </div>
      <div id="emailHelp" class="form-text"style=" font-weight: 700; color:rgb(27, 46, 20);">We'll never share your
        phone number with anyone else.</div>
  

  <br></br>
  <div class="container">
    <button type="submit" class="btn btn-success btn-lg"
      style="color:white; align-items: center; margin: auto;width:200px"><strong>UPDATE</strong></button>
  </div>
</div>













  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>